@charset "ISO-8859-1";

.container {
	width: 100%;
	margin: 0 auto;
	padding-top: 30px;
}

.content {
	width: 40%;
	margin: 0 auto center;
}

.share-option {
	width: 100%; float : left;
	margin: 0;
	display: none;
	float: left;
}

.link-share {
	width: 100%;
}

.upload {
	width: 100%;
	margin: 0 auto;
	float: left;
}

.upload-content {
	width: 100%;
	margin: 0 auto;
	float: left;
}

.record-text {
	width: 50%;
	margin: 0;
	float: left;
}

h2 {
	color: chocolate;
	font-size: 3rem;
}

.upload-link {
	width: 50%;
	margin: 0;
	float: left;
	padding-top: 15px;
	text-
}

.voice-media {
	width: 100%;
	float: left;
	margin: 0;
	text-align: left;
	background-color: lavender;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 6px;
	background-clip: padding-box;
}

.upload-link a {
	float: right;
}

.playerBox {
	width: 100%;
	float: left;
	margin: 0 auto;
}

#audio {
	width: 100%;
	float: left;
	margin: 0;
	display: none;
}

#player {
	display: none;
}

.wav-controls {
	width: 100%;
	float: left;
	margin-bottom: 8px;
	display: none;
}

.text-controls {
	width: 26.5%;
	float: left;
	margin: 0 auto;
}

.control-buttons {
	width: 73.5%;
	float: left;
	margin: 0 auto;
}

.wav-controls p {
	padding-top: 8px;
	margin-bottom: 3px;
}

.button {
	display: inline-block;
	vertical-align: middle;
	margin: 0px 5px;
	padding: 5px 12px;
	cursor: pointer;
	outline: none;
	font-size: 13px;
	text-decoration: none !important;
	text-align: center;
	color: #fff;
	background-color: #4D90FE;
	background-image: linear-gradient(top, #4D90FE, #4787ED);
	background-image: -ms-linear-gradient(top, #4D90FE, #4787ED);
	background-image: -o-linear-gradient(top, #4D90FE, #4787ED);
	background-image: linear-gradient(top, #4D90FE, #4787ED);
	border: 1px solid #4787ED;
	box-shadow: 0 1px 3px #BFBFBF;
}

a.button {
	color: #fff;
}

.button:hover {
	box-shadow: inset 0px 1px 1px #8C8C8C;
}

.button.disabled {
	box-shadow: none;
	opacity: 0.7;
}

.playerBox {
	width: 100%;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

.record-box {
	width: 100%;
	float: left;
	height: 140px;
	margin: 5px 0 10px 0;
	text-align: center;
}

.record-box-content {
	width: 220px;
}

.record-btn {
	width: 100%;
	float: left;
	padding-left: 0;
	text-align: center;
}

.live-box {
	width: 100%;
	float: left;
	margin: 8px 0 8px 0;
}

.share-link {
	width: 100%;
	float: left;
	margin: 0 auto;
}

.media-link {
	width: 100%;
	float: left;
	margin: 8px 0 8px 0;
}

.shareMedia-link {
	width: 70%;
	float: left;
}

#save {
	width: 55px;
	height: 32px;
	margin-left: 0;
}

#record {
	margin-left: 3px;
}

#live {
	margin-left: 0;
}

#level {
	width: 100%;
	float: left;
	margin: 0 auto;
	display: none;
}

canvas {
	display: block;
}

.logo-share {
	width: 100%;
	float: left;
	margin: 8px 0 0 0;
}

.input-group {
	padding-top: 15px;
	display: none;
	width: 100%;
	float: left;
	text-align: left;
	background-color: antiquewhite;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 6px;
}

#shareBtn {
	margin-bottom: 18px;
}

.share-button {
	width: 100%;
	float: left;
	margin: 0;
}

.error-message {
	width: 100%;
	margin: 5px 0 5px 0;
	float: left;
}

.upload-text {
	width: 100%;
	float: left;
	margin-bottom: 30px;
	color: chocolate;
}

.form-upload {
	width: 100%;
	margin: 0 auto;
	float: left;
}

.select-file {
	width: 100%;
	margin: 0 0 5px 0;
	float: left;
}

.input-file {
	width: 100%;
	margin-top: 5px;
	float: left;
}

#player {
	width: 100%;
	float: left;
	margin: 5px 0 8px 0;
}

.submit {
	width: 100%;
	float: left;
	margin: 0 auto;
}

.shareMedia {
	width: 100%;
	float: left;
	margin: 25px 0 15px 0;
}

.sharing-options {
	width: 100%;
	margin: 8px 0 0 0;
	float: left;
}

#idShareMediaLink {
	color: blue;
	border: none;
	float: left;
}

#file-link {
	margin: 0 auto;
	float: left;
}

.bottom {
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 15px;
}

.shareHorizontalSeparator {
	height: 1px;
	width: 100%;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #E5FFB8;
	margin-top: 10px;
}

.loader-content {
	width: 100%;
	float: left;
	margin-bottom: 30px;
	text-align: center;
}

.loader {
	display: none; margin : 0 auto;
	border: 5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 5px solid #3498db;
	width: 30px;
	height: 30px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
	margin: 0 auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}