.container {
	width: 100%;
	margin: 0 auto;
}

.content {
	width: 40%;
	margin: 0 auto center;
}

.header {
	width: 100%;
	float: left;
	margin: 0 auto;
	padding-top:3px;
}

.all-listFiles{
	width:100%;
	float:left;
	margin-top:10px;
	padding-top:10px;
}

.listFiles-title{
	width: 100%;
    color: cadetblue;
    float: left;
    font-family: serif;
    font-size: x-large;
}

.all-files{
	width:100%;
	float:left;
	margin: 0 auto;
}

#fb-root{
	width:100%;
	float:left;
	margin: 0 auto;
}

fb{
	width:100%;
	float:left;
	margin: 0 auto;
}

#status{
	width:100%;
	float:left;
	margin:0;
}

#all-files{
	width: 100%;
    float: left;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 15px;
}

.sharing-options {
	width: 100%;
	margin: 8px 0 0 0;
	float: left;
}

#file-link {
	color: blue;
    border: none;
    float: left;
}
.error-message {
	width: 100%;
	margin: 5px 0 5px 0;
	float: left;
}

.upload-return {
	width: 100%;
	float: left;
	margin: 0 auto;
}

.upload-text {
	width: 60%;
	float: left;
	color: chocolate;
}

.record-link {
	width: 40%;
	float: left;
	margin: 0;
	padding-top: 14px;
	margin: 0 auto;
}

.record-link a {
	float: right;
}

.select-file {
	width: 100%;
	float: left;
}

.input-file {
	width: 100%;
	margin: 5px 0 15px 0;
	float: left;
}

#file {
	width: 100%;
	float: left;
	margin: 0;
}

.size-file {
	width: 100%;
	float: left;
	margin: 0;
	font-size: smaller;
	text-align: left;
	background-color: antiquewhite;
	padding: 0 5px 0 5px;
	border-radius: 6px;
}

#player {
	width: 100%;
	float: left;
	margin: 3px 0 8px 0;
	display: none;
}

.input-group {
	padding-top: 15px;
	display: none;
	width: 100%;
	float: left;
	text-align: left;
	background-color: antiquewhite;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 6px;
}

.share-link {
	display: none;
	width: 100%;
	float: left;
	margin: 0 auto;
	width: 100%;
}

.shareHorizontalSeparator {
	height: 1px;
	width: 100%;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #E5FFB8;
	margin-top: 10px;
}

.voice-media {
	width: 100%;
	float: left;
	margin: 0;
	text-align: left;
	background-color: lavender;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 6px;
	background-clip: padding-box;
}

.submit {
	width: 100%;
	float: left;
	margin: 0 auto;
	display: none;
}

.shareMedia {
	width: 100%;
	float: left;
	margin: 15px 0 15px 0;
}


#idShareMediaLink {
	width: 100%;
}


.bottom {
	text-align: center;
	margin-top: 5px;
}

.loader-content {
	width: 100%;
	float: left;
	margin-bottom: 30px;
	text-align: center;
}

.loader {
	display: none;
	margin: 0 auto;
	border: 5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 5px solid #3498db;
	width: 30px;
	height: 30px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}